* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Shrikhand', cursive;
}

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/background_4.jpg);
	width: 100%;
	height: 100%;
	opacity : 0.3;
	z-index: -1;
}

#pageHead {
	color: #fff;
	background-image: url(../images/background_4.jpg);
	font-family: 'Permanent Marker', cursive;
	font-size: 5em !important;
	text-align: center;
	padding: 10px 0;
}

#logoImg {
	width: 150px;
	height: auto;
	transform: rotate(-20deg);
}

.charGrp {
	text-align: center;
	background-color: #fff;
	border: 5px #000 solid;
	padding-bottom: 25px;
	margin: 10px;
}

.charImg {
	width: 50px;
	height: 75px;
	margin: 5px 0;
}

#actBtn {
	padding: 20px 0;
}

#yourchar, #oppochar {
	height: 200px;
	text-align: center;
	border: 3px #000 solid;
	margin-bottom: 50px;
}

